.top {
    text-align: center;
}

.btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    margin-right: 2vw;
    text-align: center;
    width: 100px;
    border: none;
    padding: 15px 20px;
    letter-spacing: 1px;
    font-weight: 700;
    display: block;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #f78d1b;
    color: #fff;
    border-radius: 5px;
    opacity: 1;
    font-size: 2vw;
}